src/main/resources/META-INF/mossrose.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tool="http://www.springframework.org/schema/tool"
        xmlns:tns="https://jiuxiantuan.github.io/mossrose" targetNamespace="https://jiuxiantuan.github.io/mossrose"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import namespace="http://www.springframework.org/schema/beans"/>
    <import namespace="http://www.springframework.org/schema/tool"/>

    <element id="config" name="config" type="tns:config">
        <annotation>
            <documentation>
                <![CDATA[ Cluster config info. ]]>
            </documentation>
        </annotation>
    </element>
    <element id="process" name="process" type="tns:process">
        <annotation>
            <documentation>
                <![CDATA[ mossrose process. ]]>
            </documentation>
        </annotation>
    </element>
    <element id="ui" name="ui" type="tns:ui">
        <annotation>
            <documentation>
                <![CDATA[ mossrose rest ui. ]]>
            </documentation>
        </annotation>
    </element>
    <element id="springholder" name="springholder">
        <annotation>
            <documentation>
                <![CDATA[ mossrose spring application context holder. ]]>
            </documentation>
        </annotation>
        <complexType>
            <attribute name="id" type="xsd:string" use="optional" default="springContextHolder"/>
        </complexType>
    </element>

    <complexType name="config">
        <sequence>
            <element name="cluster" maxOccurs="1" minOccurs="1" type="tns:cluster">
                <annotation>
                    <documentation>
                        <![CDATA[ mossrose cluster config. ]]>
                    </documentation>
                </annotation>
            </element>
            <element name="jobs" maxOccurs="1" minOccurs="1" type="tns:jobs">
                <annotation>
                    <documentation>
                        <![CDATA[ Job list. ]]>
                    </documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="id" type="xsd:string" use="optional" default="mossroseConfig"/>
    </complexType>

    <simpleType name="mossroseConfigRef">
        <annotation>
            <appinfo>
                <tool:annotation kind="ref">
                    <tool:assignable-to type="com.jiuxian.mossrose.config.MossroseConfig"/>
                </tool:annotation>
            </appinfo>
        </annotation>
        <union memberTypes="xsd:string"/>
    </simpleType>

    <simpleType name="mossroseProcessRef">
        <annotation>
            <appinfo>
                <tool:annotation kind="ref">
                    <tool:assignable-to type="com.jiuxian.mossrose.MossroseProcess"/>
                </tool:annotation>
            </appinfo>
        </annotation>
        <union memberTypes="xsd:string"/>
    </simpleType>

    <complexType name="process">
        <attribute name="id" type="xsd:string" use="optional" default="mossroseProcess"/>
        <attribute name="mossrose-config-ref" type="tns:mossroseConfigRef" use="optional" default="mossroseConfig"/>
    </complexType>

    <complexType name="ui">
        <attribute name="id" type="xsd:string" use="optional" default="restMossroseUI"/>
        <attribute name="mossrose-process-ref" type="tns:mossroseProcessRef" use="optional" default="mossroseProcess"/>
        <attribute name="port" type="xsd:string" use="optional" default="7758"/>
    </complexType>

    <complexType name="cluster">
        <attribute name="name" type="xsd:string" use="required">
            <annotation>
                <documentation>
                    <![CDATA[ Cluster name to group few nodes. ]]>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="run-on-master" type="xsd:boolean" use="optional" default="true">
            <annotation>
                <documentation>
                    <![CDATA[ If run execution on master node. ]]>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="load-balancing-mode" use="optional" default="ROUND_ROBIN">
            <annotation>
                <documentation>
                    <![CDATA[ Cluster load balancing mode. ]]>
                </documentation>
            </annotation>
            <simpleType>
                <restriction base="xsd:string">
                    <enumeration value="ROUND_ROBIN"></enumeration>
                    <enumeration value="RANDOM"></enumeration>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="port" type="xsd:int" use="optional" default="18888">
            <annotation>
                <documentation>
                    <![CDATA[ Port for nodes join with each other. ]]>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="discovery-zk" type="xsd:string" use="required">
            <annotation>
                <documentation>
                    <![CDATA[ Zookeeper address for node discovery. ]]>
                </documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="job">
        <attribute name="id" type="xsd:string" use="optional"/>
        <attribute name="cron" type="xsd:string" use="required"/>
        <attribute name="group" type="xsd:string" use="optional"/>
        <attribute name="description" type="xsd:string" use="optional"/>
        <attribute name="main" type="xsd:string"/>
        <attribute name="job-bean-name" type="xsd:string"/>
    </complexType>

    <complexType name="jobs">
        <sequence>
            <element name="job" minOccurs="1" maxOccurs="unbounded" type="tns:job">
                <annotation>
                    <documentation>
                        <![CDATA[ property 'main' and 'job-bean-name' must exists one. ]]>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

</schema>